body {
    padding-top: 5px;
    margin: 0;

}

.divider {
    padding: 20px;
}

.button {
    text-align: center;
}

/*.card {
    margin: 0 auto; /* Added */
    /*float: none; /* Added */
   /* margin-bottom: 0px; /* Added */
}


#icontext {
    text-align: left;
}

#iconimg {
    text-align: left;
}